/*---------------------------------------------*/
/* Globals */
/*---------------------------------------------*/

@font-face {
    font-family: 'andale'; 
    src: url(../assets/andale-mono.ttf);
}

/*---------------------------------------------*/
/* Overarching styles */
/*---------------------------------------------*/ 

* {
	font-family: andale;
	margin: 0;
	padding: 0;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.spacer {
	@extend .parent;
	margin: 20px 0px 20px;
}

/*---------------------------------------------*/
/* Extenders */
/*---------------------------------------------*/

.parent {
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	align-items: center;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

/*---------------------------------------------*/
/* Navigation */
/*---------------------------------------------*/
nav ul {
	@extend .parent;
	height: 34px;
	font-size: 24px;
	list-style: none;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	text-decoration: line-through;
}

nav li + li:before{
    content: " | ";
    padding: 0 20px;
}

/*---------------------------------------------*/
/* footer */
/*---------------------------------------------*/
footer {
	@extend .parent;
}
footer ul {
	list-style: none;
	text-decoration: none;
}

footer a {
	// text-decoration: none;
}